html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

body {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: #222222;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

@media (max-width: 1140px) {
  .container {
    width: 96%;
  }
}
.header {
  background-color: #222222;
}
.header .header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 75px;
}

.header__logo {
  margin: 0 41px 0 0;
}

.header__button {
  background-color: transparent;
  border: none;
}

.header__button:hover,
.header__button:focus {
  opacity: 0.8;
}

.header__button:active {
  opacity: 0.5;
}

.header__button_cart::after {
  content: "0";
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  color: #FBFBFB;
  background: #F16D7F;
  border-radius: 50%;
  padding: 3px 7px;
  position: relative;
  left: -8px;
  top: -20px;
}

.header__menu-list,
.header__logo-container {
  display: flex;
  align-items: center;
}

.header__menu-item:not(:last-of-type) {
  margin: 0 34px 0 0;
}

.name {
  display: flex;
  position: relative;
}

@media (max-width: 767px) {
  .name__img {
    display: none;
  }
}

.name__header-span {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
}

.name__header-span-color {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
  color: #F16D7F;
}

.name__header {
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: 58px;
  text-transform: uppercase;
}

.name__content {
  width: 100%;
  padding: 0 0 0 40px;
  display: flex;
  align-items: center;
  color: #222222;
  background-color: #F1E4E6;
  box-sizing: border-box;
}

.name__header {
  position: relative;
  padding: 0 0 0 28px;
}

.name__header::before {
  position: absolute;
  content: "";
  width: 12px;
  height: 100%;
  background-color: #F16D7F;
  left: -12px;
}

@media (max-width: 1599px) {
  .name__img {
    width: 50%;
    height: auto;
  }

  .name__header {
    font-size: 44px;
    line-height: 52px;
  }
}
@media (max-width: 768px) {
  .name__content {
    padding: 148px 0 148px 64px;
  }

  .name__header {
    font-size: 38px;
    padding: 0 0 0 15px;
    line-height: 32px;
  }

  .name__header-span, .name__header-span-color {
    font-size: 20px;
  }
}
.stock {
  padding-top: 65px;
}

.stock__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.stock__item {
  width: 360px;
  height: 260px;
  text-align: center;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FBFBFB;
  cursor: pointer;
}
.stock__item:not(.stock__item--last) {
  margin: 0 0 30px;
}
@media (min-width: 768px) and (max-width: 1599px) {
  .stock__item:not(.stock__item--last) {
    margin: 0 0 19px;
  }
}
@media (min-width: 768px) and (max-width: 1599px) {
  .stock__item {
    width: 31.5%;
  }
}

.stock__item--last {
  width: 100%;
  height: 180px;
}

.stock__item-women {
  background-image: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url("../img/promo-women.png");
}

.stock__item-men {
  background-image: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url("../img/promo-men.png");
}

.stock__item-kids {
  background-image: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url("../img/promo-kids.png");
}

.stock__item-accessories {
  background-image: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url("../img/promo-accesories.png");
}

.stock__item-name {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-transform: uppercase;
}

.stock_item-category {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: #F16D7F;
}

.featured {
  text-align: center;
}

.featured__header {
  padding-top: 55px;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  text-transform: capitalize;
}

.featured__subheader {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #9F9F9F;
  padding-top: 6px;
  padding-bottom: 50px;
}

.featured__button {
  font-family: Lato;
  margin-top: 50px;
  line-height: 50px;
  padding: 0 38px;
  color: #F16D7F;
  border: 1px solid #F16D7F;
  background-color: transparent;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}

.featured__button:hover {
  color: white;
  background-color: #F16D7F;
}

.featured__button:active,
.featured__button:focus {
  outline: 0;
  background-color: #ed3e56;
  color: white;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.gallery__item {
  width: 360px;
  height: 580px;
  background-color: #F8F8F8;
  margin: 15px 0;
  text-align: left;
  position: relative;
}

.gallery__item_with-background {
  background-color: #F1E4E6;
  padding: 7px 0;
  text-align: center;
}

.gallery__hover-effect {
  position: absolute;
  height: 420px;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(58, 56, 56, 0.8);
  color: #FBFBFB;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, visibility 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery__item:hover .gallery__hover-effect {
  visibility: visible;
  opacity: 1;
}

.gallery__button {
  font-family: Lato;
  color: #FBFBFB;
  background-color: transparent;
  border: 1px solid #FBFBFB;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  padding: 10px 15px;
  cursor: pointer;
}

.gallery__content {
  padding: 25px 17px;
}

.gallery__header {
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  padding-bottom: 12px;
}

.gallery__text {
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  color: #5D5D5D;
  padding-bottom: 18px;
}

.gallery__price {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #F16D7F;
}

@media (max-width: 1125px) {
  .gallery {
    justify-content: space-around;
  }
}
.services {
  margin-top: 95px;
  background-color: #222222;
}

.services__display {
  display: flex;
  justify-content: space-between;
  color: #FBFBFB;
  padding: 104px 0;
}
@media (min-width: 768px) and (max-width: 1599px) {
  .services__display {
    flex-direction: column;
    align-items: center;
    padding: 50px 0 64px 0;
  }
}
@media (max-width: 767px) {
  .services__display {
    flex-direction: column;
    align-items: center;
    padding: 50px 0 64px 0;
  }
}

.services__item {
  text-align: center;
  padding: 0 15px;
  width: 360px;
}
@media (max-width: 767px) {
  .services__item {
    padding: 45px 0;
  }
}

.services__header {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  padding-top: 28px;
  padding-bottom: 16px;
}

.services__text {
  font-size: 14px;
  font-weight: 100;
  line-height: 17px;
}

.footer {
  background-color: #222222;
  color: #FBFBFB;
}

.footer__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 21px 0;
}

.footer__social-item {
  display: inline-block;
  background-color: #FBFBFB;
  text-align: center;
  margin: 0 4px;
  padding: 8px;
}

.footer__social-item:hover {
  background-color: #F16D7F;
}

.footer__social-item:hover path {
  fill: white;
}

.footer__copyright {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

@media (max-width: 570px) {
  .footer__wrap {
    flex-direction: column;
  }

  .footer__social {
    order: -1;
    padding-bottom: 40px;
  }
}
.contacts {
  background-image: linear-gradient(rgba(244, 244, 244, 0.7), rgba(244, 244, 244, 0.7)), url("../img/contacts-background.jpg");
  min-height: 450px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #222222;
}

.contacts__wrap {
  display: flex;
  justify-content: space-between;
}

.contacts__item {
  text-align: center;
  padding-top: 98px;
  width: 50%;
}

.contacts__img {
  border-radius: 50%;
  width: 96px;
  height: 96px;
}

.contacts__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  padding: 30px 100px 0;
}

.contacts__text-italic {
  font-style: italic;
}

@media (max-width: 768px) {
  .contacts__wrap {
    flex-direction: column;
    align-items: center;
  }

  .contacts__item {
    padding-top: 50px;
  }

  .contacts__text {
    padding: 0;
  }
}
@media (max-width: 768px) and (max-width: 580px) {
  .contacts__item {
    width: 95%;
  }

  .contacts__text {
    font-size: 18px;
  }
}
.subscribe-form__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  padding-top: 50px;
  text-transform: uppercase;
  padding-bottom: 30px;
}

.subscribe-form__header {
  font-size: 24px;
  font-weight: 700;
  line-height: 38px;
}

.subscribe-form__input {
  min-width: 230px;
  height: 50px;
  background-color: #E1E1E1;
  border: none;
  border-radius: 40px 0 0 40px;
  padding: 0 25px;
}

.subscribe-form__input:focus,
.subscribe-form__input:active {
  outline: 0;
  background-color: #F1E4E6;
}

.subscribe-form__submit {
  width: 100px;
  height: 50px;
  background-color: #F16D7F;
  border: none;
  border-radius: 0 40px 40px 0;
  color: #FBFBFB;
  margin-left: -3px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  cursor: pointer;
}

.subscribe-form__submit:hover {
  color: #F1E4E6;
}

.subscribe-form__submit:focus,
.subscribe-form__submit:active {
  outline: 0;
  background-color: #ed3e56;
}

@media (max-width: 1599px) {
  .subscribe-form {
    padding-bottom: 140px;
  }

  .subscribe-form__input {
    padding: 0 0 0 10px;
    min-width: auto;
  }
}
.main-menu {
  box-sizing: border-box;
  background-color: #FBFBFB;
  position: absolute;
  top: 0;
  right: 0;
  width: 15%;
  min-width: 150px;
  text-align: left;
  padding: 37px 0 37px 33px;
  z-index: 1;
  height: 100%;
}

.main-menu__header {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-transform: uppercase;
  padding: 20px 0 12px;
  color: #F16D7F;
}

.main-menu__header_black {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-transform: uppercase;
  padding: 20px 0 4px;
  color: #222222;
}

.main-menu__submenu-link {
  text-decoration: none;
  color: #6f6e6e;
  padding-left: 1.5em;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
}

.main-menu__submenu-link:hover {
  color: #222222;
}

.main-menu__close-icon {
  position: absolute;
  top: 16px;
  right: 16px;
  outline: 0;
  background-color: transparent;
  border: 0;
}

.main-menu__close-icon:hover {
  opacity: 0.8;
}

.main-menu__close-icon:focus,
.main-menu__close-icon:active path {
  fill: #222222;
}

@media (max-width: 1260px) {
  .main-menu {
    display: none;
  }
}
.page-header {
  background-color: #F1E4E6;
}

.page-header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 0;
}

.page_header__title {
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  color: #F16D7F;
  text-transform: uppercase;
}

@media (max-width: 375px) {
  .page-header__wrap {
    flex-direction: column;
    justify-content: center;
  }

  .page_header__title {
    padding-bottom: 32px;
  }
}
.breadcrumbs {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.breadcrumbs__link {
  text-transform: uppercase;
  text-decoration: none;
  color: #636363;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  margin-right: 0.5em;
}

.breadcrumbs__link:hover {
  color: #222222;
}

.breadcrumbs__link_active {
  color: #F16D7F;
  font-weight: 700;
}

.filter-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 51px 0;
}

.filter-group__toggle-button {
  font-family: Lato;
  outline: none;
  background-color: transparent;
  border: 0;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  word-spacing: 10px;
}

.filter-group__toggle-button:hover,
.filter-group__toggle-button:hover path {
  color: #6f6e6e;
  fill: #6f6e6e;
}

.filter-group__hidden {
  visibility: hidden;
}

.filter-group__nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.filter-group__button {
  font-family: Lato;
  outline: none;
  background-color: transparent;
  border: 0;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  padding: 0 14px;
  color: #6f6e6e;
}

.filter-group__button svg {
  padding-left: 0.5em;
}

.filter-group__button:hover,
.filter-group__button:hover path {
  color: #222222;
  fill: #222222;
}

@media (max-width: 768px) {
  .filter-group__hidden {
    display: none;
  }
}
.pagination {
  display: flex;
  justify-content: center;
  padding: 50px 0;
}

.pagination__wrap {
  border: 1px solid #EBEBEB;
  border-radius: 6px;
  display: flex;
  padding: 18px 16px 14px;
}

.pagination__link {
  text-decoration: none;
  padding: 7px 7px;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  color: #EBEBEB;
}

.pagination__link_active {
  color: #F16D7F;
}

.pagination__link:hover {
  color: #6f6e6e;
}

.pagination__link:hover path {
  fill: #6f6e6e;
}

.registration__wrap {
  display: flex;
  justify-content: space-between;
  padding-top: 64px;
  padding-bottom: 90px;
}

@media (max-width: 767px) {
  .registration__wrap {
    flex-direction: column;
    align-items: center;
  }
}
.registration-form__radio {
  display: none;
}

.registration-form__label {
  display: block;
  margin: 0 0 10px 20px;
  position: relative;
  width: 30%;
}

.registration-form__label:before {
  position: absolute;
  left: -15px;
  top: 3px;
  content: "";
  width: 10px;
  height: 10px;
  border: 1px solid #6f6e6e;
  border-radius: 50%;
  background-color: transparent;
}

.registration-form__radio:checked + .registration-form__label:before {
  background: #F16D7F;
}

.registration-form {
  max-width: 360px;
}

.registration-form__input {
  box-sizing: border-box;
  width: 100%;
  margin: 10px 0;
  line-height: 45px;
  border: 1px solid #A4A4A4;
  padding-left: 1em;
}

.registration-form__input:focus {
  outline: none;
  background-color: #F1E4E6;
}

.registration-form__input::placeholder {
  font-family: Lato;
  font-weight: 300;
  line-height: 16px;
  font-size: 16px;
  color: #b1b1b1;
  text-transform: capitalize;
}

.registration-form__legend {
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
  padding-bottom: 1em;
  text-transform: capitalize;
  color: #222222;
}

.registration-form__fieldset-radio {
  display: flex;
  padding: 30px 0;
}

.registration-form__error {
  font-size: 13px;
  font-weight: 300;
  line-height: 16px;
  color: #b1b1b1;
  padding: 15px 0;
}

.registration-form__submit {
  background-color: #F16D7F;
  border: none;
  color: #FBFBFB;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  cursor: pointer;
  text-transform: uppercase;
  padding: 16px 26px;
}

.registration-form__submit svg {
  margin-left: 20px;
}

.registration-form__submit:hover {
  color: #F1E4E6;
}

.registration-form__submit:focus,
.registration-form__submit:active {
  outline: 0;
  background-color: #ed3e56;
}

@media (max-width: 767px) {
  .registration-form {
    margin-bottom: 40px;
  }
}
.registration-text {
  max-width: 650px;
}

.registration-text__title {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 300;
  line-height: 29px;
  padding-bottom: 1.5em;
}

.registration-text__body {
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
}

.registration-text__list {
  list-style-image: url("../img/tick-list.jpg");
  padding-left: 25px;
}

.registration-text__item {
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  padding: 15px 25px 0;
}

@media (max-width: 1100px) {
  .registration-text {
    max-width: 350px;
  }
}
.cart {
  display: flex;
  justify-content: space-between;
  padding-top: 64px;
  padding-bottom: 90px;
}

.cart__item-list {
  display: block;
}

.cart__item {
  width: 650px;
  height: 306px;
  display: flex;
  margin-bottom: 40px;
  box-shadow: 17px 19px 24px 0px rgba(0, 0, 0, 0.13);
  position: relative;
}

.cart__item-img {
  height: 100%;
}

.cart__item-info {
  padding: 1.2em 0 0 2em;
}

.cart__item-title {
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  text-transform: uppercase;
  margin-bottom: 3em;
  width: 200px;
}

.cart__item-params {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #222222;
}

.cart__item-params_color {
  color: #F16D7F;
}

.cart__item-quantity {
  width: 45px;
  height: 25px;
  color: #6f6e6e;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  border: 1px solid #EAEAEA;
  padding-left: 10px;
  text-align: center;
}

.cart__item-quantity:focus {
  outline: none;
  background-color: #F1E4E6;
}

.cart__controls {
  display: flex;
  justify-content: space-between;
}

.cart__button {
  background-color: transparent;
  color: #6f6e6e;
  text-transform: uppercase;
  border: 1px solid #6f6e6e;
  padding: 16px 40px;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  margin-top: 30px;
}

.cart__button:hover {
  border: 1px solid #6f6e6e;
  color: #6f6e6e;
}

.cart__button:focus {
  outline: none;
  box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.13);
}

.cart__checkout {
  width: 360px;
}

.cart__total-and-checkout {
  margin-top: 55px;
  background-color: #F5F3F3;
  text-align: center;
  padding: 35px;
}

.cart__subtotal {
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  text-transform: uppercase;
  padding: 12px 0;
  text-align: right;
}

.cart__total {
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  text-transform: uppercase;
  text-align: right;
}

.cart__total_color {
  font-weight: 700;
  color: #F16D7F;
}

.cart__submit-button {
  background-color: #F16D7F;
  border: none;
  color: #FBFBFB;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  cursor: pointer;
  text-transform: uppercase;
  padding: 16px 85px;
  text-align: center;
  margin-top: 40px;
  position: relative;
}

.cart__submit-button::before {
  content: "";
  width: 100%;
  border-top: 1px solid #A4A4A4;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  margin-top: -17px;
}

.cart__submit-button:hover {
  color: #F1E4E6;
}

.cart__submit-button:focus,
.cart__submit-button:active {
  outline: 0;
  background-color: #ed3e56;
}

.cart__item-close {
  position: absolute;
  top: 25px;
  right: 16px;
  outline: 0;
  background-color: transparent;
  border: 0;
}

.cart__item-close:hover {
  opacity: 0.8;
}

.cart__item-close:focus,
.cart__item-close:active path {
  fill: #222222;
}

@media (max-width: 1070px) {
  .cart {
    flex-direction: column;
    align-items: center;
  }

  .cart__controls {
    justify-content: space-around;
    padding-bottom: 64px;
  }

  .cart__checkout {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .cart__total-and-checkout {
    box-sizing: border-box;
    width: 360px;
    margin-top: 0;
    height: fit-content;
  }
}
@media (max-width: 670px) {
  .cart__item {
    width: 360px;
    height: 188px;
    margin: 0 auto;
    margin-bottom: 32px;
    font-size: 12px;
  }

  .cart__item-info {
    padding: 1.2em 0 0 2em;
  }

  .cart__item-title {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 1.5em;
    width: 140px;
  }

  .cart__item-params {
    font-size: 14px;
    line-height: 16px;
  }

  .cart__item-quantity {
    width: 25px;
    height: 15px;
    font-size: 12px;
    line-height: 22px;
    padding-left: 5px;
  }

  .cart__item-close {
    top: 18px;
    right: 5px;
  }

  .cart__button {
    font-size: 12px;
    width: 175px;
    text-transform: capitalize;
    padding: 10px;
  }

  .cart__checkout {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .cart__total-and-checkout {
    margin-top: 48px;
  }
}
.shipping-form {
  width: 360px;
}

.shipping-form__legend {
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  text-transform: uppercase;
}

.shipping-form__input {
  width: 100%;
  box-sizing: border-box;
  margin: 10px 0;
  line-height: 45px;
  border: 1px solid #A4A4A4;
  padding-left: 1em;
}

.shipping-form__input:focus {
  outline: none;
  background-color: #F1E4E6;
}

.shipping-form__input::placeholder {
  font-family: Lato;
  font-weight: 300;
  line-height: 16px;
  font-size: 16px;
  color: #A4A4A4;
  text-transform: capitalize;
}

.shipping-form__submit {
  background-color: transparent;
  color: #A4A4A4;
  text-transform: uppercase;
  border: 1px solid #A4A4A4;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  margin-top: 24px;
  cursor: pointer;
}

.shipping-form__submit:hover {
  border: 1px solid #6f6e6e;
  color: #6f6e6e;
}

.shipping-form__submit:focus {
  outline: none;
  box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.13);
}

@media (max-width: 670px) {
  .shipping-form__input {
    width: 90%;
    margin: 10px 15px;
    padding-left: 2em;
  }
}

/*# sourceMappingURL=styles.css.map */
