.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

body {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: #222222;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.header {
  background-color: #222222;
}
.header .header__container {
  display: flex;
  min-height: 75px;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  margin: 0 41px 0 0;
}

.header__button {
  background-color: transparent;
  border: none;
}

.header__button:hover,
.header__button:focus {
  opacity: 0.8;
}

.header__button:active {
  opacity: 0.5;
}

.header__button_cart::after {
  content: "0";
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  color: #FBFBFB;
  background: #F16D7F;
  border-radius: 50%;
  padding: 3px 7px;
  position: relative;
  left: -8px;
  top: -20px;
}

.header__menu-list,
.header__logo-container {
  display: flex;
  align-items: center;
}

.header__menu-item:not(:last-of-type) {
  margin: 0 34px 0 0;
}

.name {
  display: flex;
  position: relative;
}

.name__header-span {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
}

.name__header-span-color {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
  color: #F16D7F;
}

.name__header {
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: 58px;
  text-transform: uppercase;
}

.name__content {
  width: 100%;
  padding: 335px 0 0 64px;
  color: #222222;
  background-color: #F1E4E6;
}

.name__header {
  position: relative;
  padding: 0 0 0 28px;
}

.name__header::before {
  position: absolute;
  content: "";
  width: 12px;
  height: 100%;
  background-color: #F16D7F;
  left: -12px;
}

.stock {
  padding-top: 65px;
}

.stock__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.stock__item {
  width: 360px;
  height: 260px;
  text-align: center;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FBFBFB;
  cursor: pointer;
}

.stock__item--last {
  width: 100%;
  height: 180px;
}

.stock__item-women {
  background-image: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url("../img/promo-women.png");
}

.stock__item-men {
  background-image: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url("../img/promo-men.png");
}

.stock__item-kids {
  background-image: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url("../img/promo-kids.png");
}

.stock__item-accessories {
  background-image: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url("../img/promo-accesories.png");
}

.stock__item-name {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-transform: uppercase;
}

.stock_item-category {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: #F16D7F;
}

.featured {
  text-align: center;
}

.featured__header {
  padding-top: 55px;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  text-transform: capitalize;
}

.featured__subheader {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #9F9F9F;
  padding-top: 6px;
  padding-bottom: 50px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.gallery__item {
  width: 360px;
  height: 580px;
  background-color: #F8F8F8;
  margin: 15px 0;
  text-align: left;
  position: relative;
}

.gallery__item_with-background {
  background-color: #F1E4E6;
  padding: 7px 0;
  text-align: center;
}

.gallery__hover-effect {
  position: absolute;
  height: 420px;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(58, 56, 56, 0.8);
  color: #FBFBFB;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, visibility 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery__item:hover .gallery__hover-effect {
  visibility: visible;
  opacity: 1;
}

.gallery__button {
  font-family: Lato;
  color: #FBFBFB;
  background-color: transparent;
  border: 1px solid #FBFBFB;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  padding: 10px 15px;
  cursor: pointer;
}

.gallery__content {
  padding: 25px 17px;
}

.gallery__header {
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  padding-bottom: 12px;
}

.gallery__text {
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  color: #5D5D5D;
  padding-bottom: 18px;
}

.gallery__price {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #F16D7F;
}

.featured__button {
  font-family: Lato;
  margin-top: 50px;
  line-height: 50px;
  padding: 0 38px;
  color: #F16D7F;
  border: 1px solid #F16D7F;
  background-color: transparent;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}

.featured__button:hover {
  color: white;
  background-color: #F16D7F;
}

.featured__button:active,
.featured__button:focus {
  outline: 0;
  background-color: #ed3e56;
  color: white;
}

.services {
  margin-top: 95px;
  background-color: #222222;
}

.services__display {
  display: flex;
  justify-content: space-between;
  color: #FBFBFB;
  padding: 104px 0;
}

.services__item {
  text-align: center;
  padding: 0 15px;
}

.services__header {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  padding-top: 28px;
  padding-bottom: 16px;
}

.services__text {
  font-size: 14px;
  font-weight: 100;
  line-height: 17px;
}

.footer {
  background-color: #222222;
  color: #FBFBFB;
}

.contacts {
  background-image: linear-gradient(rgba(244, 244, 244, 0.7), rgba(244, 244, 244, 0.7)), url("../img/contacts-background.jpg");
  height: 450px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #222222;
}

.contacts__wrap {
  display: flex;
  justify-content: space-between;
}

.contacts__item {
  text-align: center;
  padding-top: 98px;
  width: 50%;
}

.contacts__img {
  border-radius: 50%;
  width: 96px;
  height: 96px;
}

.contacts__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  padding: 30px 100px 0;
}

.contacts__text-italic {
  font-style: italic;
}

.subscribe-form__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  padding-top: 50px;
  text-transform: uppercase;
  padding-bottom: 30px;
}

.subscribe-form__header {
  font-size: 24px;
  font-weight: 700;
  line-height: 38px;
}

.subscribe-form__input {
  width: 230px;
  height: 50px;
  background-color: #E1E1E1;
  border: none;
  border-radius: 40px 0 0 40px;
  padding: 0 25px;
}

.subscribe-form__input:focus,
.subscribe-form__input:active {
  outline: 0;
  background-color: #c8c8c8;
}

.subscribe-form__submit {
  width: 100px;
  height: 50px;
  background-color: #F16D7F;
  border: none;
  border-radius: 0 40px 40px 0;
  color: #FBFBFB;
  margin-left: -3px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  cursor: pointer;
}

.subscribe-form__submit:hover {
  color: #F1E4E6;
}

.subscribe-form__submit:focus,
.subscribe-form__submit:active {
  outline: 0;
  background-color: #ed3e56;
}

.subscribe-form__submit:active {
  box-shadow: 4px 4px;
}

.footer__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 21px 0;
}

.footer__social-item {
  display: inline-block;
  background-color: #FBFBFB;
  text-align: center;
  margin: 0 4px;
  padding: 8px;
}

.footer__social-item:hover {
  background-color: #F16D7F;
}

.footer__social-item:hover path {
  fill: white;
}

.footer__copyright {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

.main-menu {
  background-color: #FBFBFB;
  position: absolute;
  top: 0;
  right: 0;
  width: 15%;
  min-width: 150px;
  height: 100%;
  text-align: left;
  padding-top: 37px;
  padding-left: 33px;
}

.main-menu__header {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-transform: uppercase;
  padding: 20px 0 12px;
  color: #F16D7F;
}

.main-menu__header_black {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-transform: uppercase;
  padding: 20px 0 4px;
  color: #222222;
}

.main-menu__submenu-link {
  text-decoration: none;
  color: #6f6e6e;
  padding-left: 1.5em;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
}

.main-menu__submenu-link:hover {
  color: #222222;
}

.main-menu__close-icon {
  position: absolute;
  top: 16px;
  right: 16px;
  outline: 0;
  background-color: transparent;
  border: 0;
}

.main-menu__close-icon:hover {
  opacity: 0.8;
}

.main-menu__close-icon:focus,
.main-menu__close-icon:active path {
  fill: #222222;
}

.catalog-header {
  background-color: #F1E4E6;
}

.catalog-header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 0;
}

.catalog_header__title {
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  color: #F16D7F;
  text-transform: uppercase;
}

.breadcrumbs {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.breadcrumbs__link {
  text-transform: uppercase;
  text-decoration: none;
  color: #636363;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  margin-right: 0.5em;
}

.breadcrumbs__link:hover {
  color: #222222;
}

.breadcrumbs__link_active {
  color: #F16D7F;
  font-weight: 700;
}

.catalog {
  text-align: center;
}

.filter-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 51px 0;
}

.filter-group__toggle-button {
  font-family: Lato;
  outline: none;
  background-color: transparent;
  border: 0;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  word-spacing: 10px;
}

.filter-group__toggle-button:hover,
.filter-group__toggle-button:hover path {
  color: #6f6e6e;
  fill: #6f6e6e;
}

.filter-group__hidden {
  visibility: hidden;
}

.filter-group__nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.filter-group__button {
  font-family: Lato;
  outline: none;
  background-color: transparent;
  border: 0;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  padding: 0 14px;
  color: #6f6e6e;
}

.filter-group__button svg {
  padding-left: 0.5em;
}

.filter-group__button:hover,
.filter-group__button:hover path {
  color: #222222;
  fill: #222222;
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 50px 0;
}

.pagination__wrap {
  border: 1px solid #EBEBEB;
  border-radius: 6px;
  display: flex;
  padding: 18px 16px 14px;
}

.pagination__link {
  text-decoration: none;
  padding: 7px 7px;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  color: #EBEBEB;
}

.pagination__link_active {
  color: #F16D7F;
}

.pagination__link:hover {
  color: #6f6e6e;
}

.pagination__link:hover path {
  fill: #6f6e6e;
}

/*# sourceMappingURL=styles.css.map */
