.contacts {
    background-color: $light-gray;
    background-image:
        linear-gradient(rgba(244, 244, 244, 0.7), rgba(244, 244, 244, 0.7)),
        url('../img/contacts-background.jpg');
    min-height: 450px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: $base-black;
}

.contacts__wrap {
    display: flex;
    justify-content: space-between;
}

.contacts__item {
    text-align: center;
    padding-top: 98px;
    width: 50%;
}

.contacts__item_boot {
    padding-top: 98px;
}

.contacts__img {
    border-radius: 50%;
    width: 96px;
    height: 96px;
}

.contacts__text {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    padding: 30px 100px 0;
}

.contacts__text-italic {
    font-style: italic;
}

@media (max-width: $tablet-width) {
    .contacts__wrap {
        flex-direction: column;
        align-items: center;
    }

    .contacts__item {
        padding-top: 50px;
    }

    .contacts__text {
        padding: 0;
    }

    @media (max-width: 580px) {
        .contacts__item {
            width: 95%;
        }

        .contacts__text {
            font-size: 18px;
        }
    }
}