.footer {
    background-color: $base-black;
    color: $base-white;
}

.footer__wrap {
    @include flex-center-space-between;
    padding: 21px 0;
}

.footer__social-item {
    display: inline-block;
    background-color: $base-white;
    text-align: center;
    margin: 0 4px;
    padding: 8px;
}

.footer__social-item:hover {
    background-color: $pink-color;

}

.footer__social-item:hover svg {
    fill: white;
}

.footer__copyright {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

@media (max-width: 570px) {
    .footer__wrap {
        flex-direction: column;
    }

    .footer__social {
        order: -1;
        padding-bottom: 40px;
    }
}