.main-menu {
    background-color: $base-white;
    position: absolute;
    top: 0;
    right: 0;
    width: 15%;
    min-width: 150px;
    height: 100%;
    text-align: left;
    padding-top: 37px;
    padding-left: 33px;
    z-index: 1;
}

.main-menu__header {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-transform: uppercase;
    padding: 20px 0 12px;
    color: $pink-color;
}

.main-menu__header_black {
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    text-transform: uppercase;
    padding: 20px 0 4px;
    color: $base-black;
}

.main-menu__submenu-link {
    text-decoration: none;
    color: $base-gray;
    padding-left: 1.5em;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
}

.main-menu__submenu-link:hover {
    color: $base-black;
}

.main-menu__close-icon {
    position: absolute;
    top: 16px;
    right: 16px;
    outline: 0;
    background-color: transparent;
    border: 0;
}

.main-menu__close-icon:hover {
    opacity: 0.8;
}

.main-menu__close-icon:focus,
.main-menu__close-icon:active path {
    fill: $base-black;
}