.shipping-form {
    width: 360px;
}


.shipping-form__legend {
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    text-transform: uppercase;
}

.shipping-form__input {
    width: 100%;
    box-sizing: border-box;
    margin: 10px 0;
    line-height: 45px;
    border: 1px solid $light-gray;
    padding-left: 1em;
}

.shipping-form__input:focus {
    outline: none;
    background-color: $pink-background;
}

.shipping-form__input::placeholder {
    font-family: $lato-font;
    font-weight: 300;
    line-height: 16px;
    font-size: 16px;
    color: $light-gray;
    text-transform: capitalize;
}

.shipping-form__submit {
    background-color: transparent;
    color: $light-gray;
    text-transform: uppercase;
    border: 1px solid $light-gray;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    margin-top: 24px;
    cursor: pointer;
}

.shipping-form__submit:hover {
    border: 1px solid $base-gray;
    color: $base-gray;
}

.shipping-form__submit:focus {
    outline: none;
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.13);
}

@media (max-width: 670px) {

    .shipping-form__input {
        width: 90%;
        margin: 10px 15px;
        padding-left: 2em;
    }
}

@media (max-width: 400px) {}