.shipping-form {
    max-width: 360px;
}


.shipping-form__legend {
font-size: 16px;
font-weight: 300;
line-height: 19px;
text-transform: uppercase;
}

.shipping-form__input {
    width: 100%;
    margin: 10px 0;
    line-height: 45px;
    border: 1px solid #A4A4A4;
    padding-left: 1em;
}

.shipping-form__input:focus {
    outline: none;
    background-color: $pink-background;
}

.shipping-form__input::placeholder {
    font-family: Lato;
    font-weight: 300;
    line-height: 16px;
    font-size: 16px;
    color: rgba(177, 177, 177, 1);
    text-transform: capitalize;
}

.shipping-form__submit {
    background-color: transparent;
    color: #A4A4A4;
    text-transform: uppercase;
    border: 1px solid #A4A4A4;
    padding: 10px 15px;
font-size: 14px;
font-weight: 300;
line-height: 17px;
margin-top: 24px;
cursor: pointer;
}

.shipping-form__submit:hover {
    border: 1px solid $base-gray;
    color: $base-gray;
}

.shipping-form__submit:focus {
    outline:none;
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.13);
}
