.stock {
    padding-top: 65px;
}

.stock__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.stock__item {
    width: 360px;
    height: 260px;
    text-align: center;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $base-white;
    cursor: pointer;

    &:not(.stock__item--last) {
        margin: 0 0 30px;
    }

}

.stock__item--last {
    width: 100%;
    height: 180px;
}

.stock__item-women {
    background-image:
        linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)),
        url('../img/promo-women.png');
}

.stock__item-men {
    background-image:
        linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)),
        url('../img/promo-men.png');
}

.stock__item-kids {
    background-image:
        linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)),
        url('../img/promo-kids.png');
}

.stock__item-accessories {
    background-image:
        linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)),
        url('../img/promo-accesories.png');
}

.stock__item-name {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-transform: uppercase;
}

.stock_item-category {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    color: $pink-color;
}

@media (min-width: 768px) and (max-width: 1599px) {
    .stock__item {
        width: 31.5%;
    }

    .stock__item:not(.stock__item--last) {
        margin: 0 0 19px;
    }

}

@media (max-width: $tablet-width) {
    .stock__list {
        justify-content: space-around;
    }
}